-# - @categories1.each do |cat1|
-#   = cat1.name
-# - @categories2.each do |cat2|
-#   = cat2.name
-# - @categories3.each do |cat3|
-#   = cat3.name
-# - @categories4.each do |cat4|
-#   = cat4.name
= render "reviews/header"
.categoryIndex
  .category__box
    .top__box
      .box1
        %p 国
        %a.icon1{"data-target" => "category_list1"}
          =icon("fas","comment-dots")
        #category_list1
          .form
            - @categories1.each do |cat1|
              .cate__name
                = link_to cat1.name, category_path(cat1.id), class: :category__name
      .box2
        %p メーカー
        %a.icon1{"data-target" => "category_list2"}
          =icon("fas","comment-dots")
        #category_list2
          .form
            - @categories2.each do |cat2|
              .cate__name
                = link_to cat2.name, category_path(cat2.id), class: :category__name
    .bottom__box
      .box3
        %p type
        %a.icon1{"data-target" => "category_list3"}
          =icon("fas","comment-dots")
        #category_list3
          .form
            - @categories3.each do |cat3|
              .cate__name
                = link_to cat3.name, category_path(cat3.id), class: :category__name
      .box4
        %p その他
        %a.icon1{"data-target" => "category_list4"}
          =icon("fas","comment-dots")
        #category_list4
          .form
            - @categories4.each do |cat4|
              .cate__name
                = link_to cat4.name, category_path(cat4.id), class: :category__name
= render "reviews/footer"