= render "header"
.main
  .main__container
    .main__container--left
      .search-box 
        検索したいワードを入力
      .search__results--box
        - @reviews.each do |review|
          .result
            .result__image
              .resul__image--box
                = image_tag review.image, height: '135px', width: '240px', class: 'test' if review.image.present?
            .result__text
              .result__text--title
                = review.title
              .result__text--main
                = truncate(review.text, length: 90)
                .show_link-box
                  = link_to "続きはここをクリック", review_path(review.id), class: :show_link
              .result__text--date
                = review.created_at

    .main__container--right
      .random-box
        %p ランダムで4〜5個の投稿を表示
= render "footer"