= render "header"
.main
  .main__container
    .main__container--left
      .search-box 
        = form_with url: search_reviews_path, method: :get, local: true do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: 'form'
          = form.submit "検索", class: 'btn'
          
      .search__results--box
        - @reviews.each do |review|
          .result
            .result__image
              .resul__image--box
                = link_to (image_tag review.image, height: '135px', width: '240px', class: 'test' if review.image.present?), review_path(review.id)
            .result__text
              .result__text--title
                = link_to truncate(review.title, length: 13), review_path(review.id), class: :title
              .result__text--main
                = truncate(review.text, length: 90)
                .show_link-box
                  = link_to "続きはここをクリック", review_path(review.id), class: :show_link
              .result__text--date
                = review.created_at

    .main__container--right
      .random-box
        %p ランダムで4〜5個の投稿を表示
= render "footer"