= render "header"
.newmain
  .newmain__form
    = form_with model: @review, local: true, class: 'form' do |form| 
      %h3
        投稿する
        %span
          (画像は16:9)
      .main__form--title
        = form.text_field :title, placeholder: "title", class: 'title'
      .main__form--image
        = form.label :image do
          = icon('fas', 'image')
        = form.file_field :image, placeholder: "画像を選択 16:9", class: 'image'
      .main__form--text
        = form.text_area :text, placeholder: "text" , rows: "10", class: 'text' 
      .check
        %p カテゴリーを設定してください(それぞれ1つずつ・任意)
        .group_top
          .group_1
            %p 国
            %a.icon1{"data-target" => "category_list1"}
              =icon("fas","comment-dots")
            #category_list1
              .form
                = form.collection_check_boxes :category_ids, @category1, :id, :name


          .group_2
            %p メーカー
            %a.icon2{"data-target" => "category_list2"}
              =icon("fas","comment-dots")
            #category_list2
              .japan-box
                %p 日本
                %a.icon2{"data-target" => "category_list11"}
                  =icon("fas","comment-dots")
                #category_list11
                  .form
                    = form.collection_check_boxes :category_ids, @maker1, :id, :name
              .europe-box
                %p 欧州
                %a.icon2{"data-target" => "category_list12"}
                  =icon("fas","comment-dots")
                #category_list12
                  .form
                    = form.collection_check_boxes :category_ids, @maker2, :id, :name
              .north_america-box
                %p 北米
                %a.icon2{"data-target" => "category_list13"}
                  =icon("fas","comment-dots")
                #category_list13
                  .form
                    = form.collection_check_boxes :category_ids, @maker3, :id, :name
              .other-box
                %p その他
                %a.icon2{"data-target" => "category_list14"}
                  =icon("fas","comment-dots")
                #category_list14
                  .form
                    = form.collection_check_boxes :category_ids, @maker4, :id, :name

          .group_3
            %p タイプ
            %a.icon3{"data-target" => "category_list3"}
              =icon("fas","comment-dots")
            #category_list3
              .form
                = form.collection_check_boxes :category_ids, @category3, :id, :name
          .group_4
            %p その他
            %a.icon4{"data-target" => "category_list4"}
              =icon("fas","comment-dots")
            #category_list4
              .form
                = form.collection_check_boxes :category_ids, @category4, :id, :name
      .main__form--send
        = form.submit "SEND", class: 'send'
= render "footer"