= render "header"
.showTop
  .top-container
    .top__picture
      .top__picture--image
        = image_tag @review.image, height: '270px', width: '480px', class: 'image' if @review.image.present?
    .top__items
      .tag
        .tag-list
          タグ1
        .tag-list
          タグ2
        .tag-list
          タグ3
        .tag-list
          タグ4
        .like-count
          %span
            お気に入り
          %i.fas.fa-star
          x
          = @like_review_count
      .top__items--title
        .title__name
          = @review.title
        .title__user
          投稿者：
          = link_to truncate(@review.user.name, length: 20), "/users/#{@review.user_id}"
      .top__items--btn
        - if user_signed_in? && @review.user_id == current_user.id
          .edit-btn
            = link_to "編集", edit_review_path, class: :edit
          .delete-btn
            = link_to "削除", review_path, method: :delete, class: :delete
        -elsif user_signed_in? && @review.user_id != current_user.id
          .like-btn
            -# = link_to "お気に入り", edit_review_path, class: :like
            - if !LikeReview.exists?(user_id: current_user.id, review_id: @review.id)
              = link_to "お気に入り",review_add_path(@review),method: :post, class: :like 
            - else
              = link_to "お気に入り解除",review_add_path(@review),method: :delete, class: :like
        - else user_signed_in?
          .login-btn
            = link_to "お気に入り登録をするにはログインしてください", new_user_session_path, class: :login
.showMain
  .review
    .review__text 
      = simple_format @review.text
.showBottom
  .showBottom__title
    この投稿へのコメント
  .bottom__comment--form
    - if current_user
      = form_with model: [@review, @comment], local: true do |form|
        .form__container
          .form
            = form.text_field :text, placeholder: "コメントする", row: 2 
          .send-btn
            = form.submit "投稿" 
    - else
      = link_to "コメントを投稿するにはログインしてください", new_user_session_path, class: :login
  .bottom__comment--list
    .comment__title
      ＜コメント一覧＞
    .comment__list
      - if @comments
        - @comments.each do |comment| 
          .comment__list--box
            .user-name
              = link_to truncate(comment.user.name, length: 20), "/users/#{comment.user_id}" 
            .date
              = comment.created_at
          .comment__list--bottom
            .comment
              = comment.text 
            .delete__btn
              %a{:href => "#"} 削除
            .fav
            -# = link_to "星", review_comment_add_path(@review, @comment), method: :post
= render "footer"